body {
  font-family: Arial, sans-serif;
  background: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('background 03.jpeg'); /* Masukkan nama file foto */
  background-size: cover; /* Menyesuaikan foto dengan layar */
  background-position: center; /* Memusatkan foto */
  background-repeat: no-repeat; /* Tidak mengulangi foto */
}

.show-popup-btn {
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 150px;
  cursor: pointer;
  animation: bounce 2s infinite;
}

.show-popup-btn p {
    font-size: 50px;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 90%;
  max-width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s ease-out;
  background-color: black;
  color: white;
}

.popup.hidden {
  display: none;
}

.popup-header {
  background-color: #25d366;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.popup-content {
  padding: 20px;
  text-align: center;
}

.popup-content img {
  width: 100%;
  border-radius: 10px;
}

.popup-footer {
  padding: 10px;
  text-align: center;
}

.popup-footer button {
  background-color: #128c7e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.popup-content img {
  width: 100%; /* Atur lebar maksimal ke 100% dari container */
  max-width: 145px; /* Maksimal lebar */
  height: auto; /* Pertahankan aspek rasio */
  margin-bottom: 15px; /* Tambahkan sedikit jarak dengan teks */
  border-radius: 10px; /* Opsional: buat sudut gambar melengkung */
}

.typing {
  border-right: 2px solid #000;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: blink 0.7s steps(2, start) infinite;
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: black;
  }
}

.whatsapp-button {
  text-decoration: none;
}

.whatsapp-button button {
  background-color: #25d366;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.whatsapp-button button:hover {
  background-color: #1ebc5a;
}